.git
.idea
.vscode
.github
.claude
ObsidianVault
**/.env
**/*.md
LICENSE
**/node_modules
**/dist
**/.expo
**/tamagui-web.css
**/web-build
**/coverage
**/.turbo
**/*.tsbuildinfo
**/*.log
**/.DS_Store
Thumbs.db
